* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: capitalize;
  line-height: 1.5;
  transition: all 0.3s;
}

:root {
  --yellow: rgb(238, 238, 11);
}

*::selection {
  background: var(--yellow);
  color: #fff;
}

.btn {
  border: 0.2rem solid var(--yellow);
  color: var(--yellow);
  background: 0;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2.5rem;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  background: var(--yellow);
  color: black;
}

.heading {
  font-size: 4rem;
  color: black;
  text-align: center;
  padding: 1rem;
  padding-top: 4rem;
}

.heading i {
  color: var(--yellow);
}

html {
  font-size: 62%;
  overflow-x: hidden;
}

header {
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 0px 8px 2px -3px rgba(34, 60, 80, 0.07);
}

header .logo {
  display: flex;
  align-items: first baseline;
  justify-content: space-between;
  font-size: 3rem;
  color: black;
}

header .logo i {
  background: var(--yellow);
  padding: 0.5rem;
  margin-right: 1.5rem;
  color: white;
  border-radius: 0.5rem;
}
header .logo span {
  padding: 0rem 0.25rem;
  background: var(--yellow);
}

header .logo i:hover {
  color: var(--yellow);
  background: black;
}

header .nav ul {
  display: flex;
}
header .nav ul li {
  margin: 0 1rem;
}
header .nav ul li a {
  font-size: 2rem;
  color: black;
}

header .nav ul li a:hover {
  color: var(--yellow);
}

header .fa-bars {
  font-size: 3rem;
  color: black;
  display: none;
  cursor: pointer;
}

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1611416457332-946853cc75d6?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bmlnaHQlMjBjaXR5fGVufDB8fDB8fHww")
      no-repeat center/cover;
}

.home .content {
  text-align: center;
  padding: 1rem;
}
.home .content h1 {
  font-size: 8rem;
  color: var(--yellow);
}
.home .content h2 {
  color: white;
  padding: 1rem;
  font-size: 5rem;
}

.about .row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.about .row .img {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 40rem;
  padding: 2rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--yellow);
}

.about .row .content p {
  min-width: 50rem;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.about .box-container {
  background: #222;
}

.about .box-container .heading {
  color: #fff;
}

.box-container .boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.box-container .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem -1rem;
  flex: 0 1 40rem;
  margin: 2rem;
  border: 2px solid var(--yellow);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.box-container .boxes .box img {
  width: 10rem;
  flex-grow: 1;
  object-fit: contain;
}

.box-container .boxes .box h4 {
  flex-grow: 0;
  color: #fff;
  font-size: 1.8rem;
  margin-top: 2rem;
  text-transform: none;
}

.service {
  width: 100%;
  min-height: 100vh;
  background: url("https://stories.td.com/volumes/default/article/_1200x630_crop_center-center_none/taxi-main_copy.jpg")
    no-repeat center/cover;
}

.service .heading {
  color: #fff;
}
.service .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.service .box-container .box {
  font: 2px 1px 40rem;
  padding: 2rem 1rem;
  text-align: center;
  background: white;
  margin: 2rem;
  border: 0.2rem solid var(--yellow);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
}

.service .box-container .box:hover {
  transform: translateY(-0.8rem);
}

.service .box-container .box i {
  width: 4rem;
  height: 4rem;
  background: var(--yellow);
  line-height: 4rem;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  border-radius: 50%;
}

.service .box-container .box h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.service .box-container .box p {
  font-size: 1.5rem;
}

.cars {
  background: #222;
  min-height: 100vh;
}

.cars .heading {
  color: #fff;
}

.cars .box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.cars .box-container .box {
  flex: 1 1 25rem;
  padding: 2rem -1rem;
  color: #fff;
}
.cars .box-container .box h3 {
  font-size: 3rem;
  margin-right: 1.5rem;
}
.cars .box-container .box img {
  width: 30rem;
}

.cars .box-container .box h4 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.cars .box-container .box ul li {
  line-height: 1.5rem;
  font-size: 1.8rem;
  list-style: disc;
}

.contacts {
  min-height: 100vh;
  padding: 0 0 3rem;
}

.contacts .heading {
  margin-bottom: 3rem;
}

.contacts .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.contacts .box-container .content {
  flex: 1 1 40rem;
  padding: 2rem -1rem;
  margin: 2rem;
}

.contacts .box-container .content h3 {
  font-size: 2rem;
  color: var(--yellow);
}

.contacts .box-container .content h2 {
  font-size: 3.5rem;
  font-weight: 800;
}

.contacts .box-container .content p {
  font-size: 1.8rem;
  margin: 2rem 0;
}

.contacts .box-container .form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  background: #222;
  border-radius: 0.8rem;
}

.contacts .box-container .form input,
.contacts .box-container .form textarea {
  width: 100%;
  margin: 1rem 0;
  padding: 2rem 1rem;
}

.contacts .box-container .form textarea {
  height: 15rem;
  resize: none;
}

.footer {
  width: 100%;
  height: 8rem;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-media {
  font-size: 2.5rem;
  color: #fff;
}

.footer .social-media i {
  margin: 0 1.5rem;
  transition: 0.3s;
}

.footer .social-media i:hover {
  color: var(--yellow);
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
  header .fa-bars {
    display: block;
  }
  header .nav {
    position: fixed;
    top: -100rem;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  header .nav ul {
    flex-flow: column wrap;
    padding: 2rem 0;
  }
  header .nav ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0rem;
  }
  .fa-times {
    transform: rotate(180deg);
  }
  header .nav-toggle {
    top: 7rem;
    opacity: 1;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
